 /* Scrollbar sombre */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    background: #232d35;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2a3942;
    border-radius: 4px;
  }